
<div class="container" style="max-width: 550px; text-align: center; margin: 0 auto; margin-top: 80px;">
<h1>
<% unless user_signed_in? %>
Participe você também.
<% else %>
Olá, <%= current_user.email %>.
<% end %>
</h1>
</div>