
<div class="container" style="max-width: 550px; text-align: center; margin: 0 auto; margin-top: 80px;">
<h3>
<% unless user_signed_in? %>
Participe você também.
<% else %>
Olá, <%= current_user.email %>, você faz parte da <%= current_user.organization.name %>
<% end %>
</h3>
</div>